@model DataAccess.Model.Book
@{
    ViewBag.Title = "Detail";
}

<h2>Detail knihy @Model.Name</h2>

<p>
    Autor: @Model.Author
    Rok vydání: @Model.PublishedYear
</p>

@Html.Raw(Model.Description)

@if (ViewBag.ZobrazPopis != null && ViewBag.ZobrazPopis==true)
{
    <p>
        Bližší popis knihy ........
    </p>

    @section SideBar
    {
        <h4>Chcete knihu @Model.Name s 10% slevou?Objednejte nyní!!!!!</h4>
    }
}

