
@using DataAccess.Model
@model List<Book>
@{
    ViewBag.Title = "Index";
    
}

<h1>Vypis knih v knihovne</h1>

<a href="@Url.Action("Create","Books")" class="btn btn-default pull-right">Vytvoření nové knihy</a>"
<div class="clearfix"></div>

<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Image</th>
            <th>Id</th>
            <th>Nazev knihy</th>
            <th>Autor</th>
            <th>Rok vydani</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book b in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(b.ImageName))
                    {
                        <img src="@Url.Content("~/uploads/book/"+b.ImageName)"/>
                    }
                </td>
                <td><a href="@Url.Action("Detail","Books",new { id = b.Id })">@b.Id</a></td>
                <td>@Html.ActionLink(b.Name,"Detail","Books",new { id = b.Id,zobrazPopis=true },new { title = b.Name })</td>
                <td>@b.Author</td>
                <td>@b.PublishedYear</td>
            </tr>
        }
    </tbody>
</table>